<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>678606950077-ek7k2s9bk85ok79eh8i40mjjrblno3db.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.678606950077-ek7k2s9bk85ok79eh8i40mjjrblno3db</string>
	<key>API_KEY</key>
	<string>AIzaSyBQMmhPXWebdPDB1wqIM9OLCYYRF5xEvbA</string>
	<key>GCM_SENDER_ID</key>
	<string>678606950077</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>Artemeva-VV.CHeckInSize</string>
	<key>PROJECT_ID</key>
	<string>checkinsize</string>
	<key>STORAGE_BUCKET</key>
	<string>checkinsize.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:678606950077:ios:510078166b7f0c0354f1d4</string>
</dict>
</plist>